#logo {
  position: absolute;
  bottom: 10px;
  left: -180px;
  width: 100px;
}

.two-columns {
  columns: 2;
}

.two-columns li {
  margin-left: 2rem;
  margin-right: 2rem;
}

.shortcut {
  background-color: rgb(4, 117, 147);
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 0.7em;
}

.small-text {
  font-size: 0.7em;
}

.smallest-text {
  font-size: 0.5em;
}

.enfasis {
  font-style: italic;
}

.highlight {
  font-weight: bolder;
}

.right {
  text-align: right;
}

.my-button {
  font-size: 0.5em;
  cursor: pointer;
  padding: 0.5em;
}

.my-button:hover {
  background-color: darkgrey;
  border: 3px solid white;
}


.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}
